// FOOTER

.footer {
    background: $card-col;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 80%;
    padding: 2rem;
    gap: 5px;
    border-top: 4px solid $border;
    border-bottom: 4px solid $border;
    width: 100%;
    bottom: 0;
    
  }
  
  .footer__linknav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-col;

    h2 {
        background-color: $card-col;
    }
  }

.contact_form {
  background-color: $card-col;
  display: grid;
  margin-top: 1rem;

}
.contact_input {
  padding: .5rem;
  width: 15rem;
  margin-bottom: .4rem;
  font-size: 16px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
        
}
.contact_btn {
    width: 8rem;
    height: 2rem;
    background-color: $btn;
    border: 1px solid $border;
    margin: 1rem auto;
    color: #fef8f1;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;

}
  
  .linknav__griditem {
    display: flex;
  
    p {
      color: $font-col;
      background-color: $card-col;
    }
  }
  
  .footer__linknav > ul {
    list-style: none;
    display: flex;
    color: $font-col;
  }
  
  .linknav_link a {
    padding: 0.5rem;
    text-decoration: none;
    color: $font-col;
    background-color: $card-col;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $card-col;

    p {
        background-color: $card-col;
    }
    span {
        background-color: $card-col;
    }
  }
  
  .contact__griditem {
    display: flex;
    align-items: center;
    width: 220px;
    background-color: $card-col;
  
    span {
      display: block;
      font-weight: lighter;
    }
  
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $bg-col;
      min-height: 35px;
      min-width: 35px;
      border-radius: 100%;
      margin: 10px;
      background-color: $card-col;
    }
  }
  
  .footer__aboutus {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: $font-col;
    align-items: center;
    background-color: $card-col;

    i {
        background-color: $card-col;
    }
  }
  
  .aboutus-wrapper {
    div {
      width: 16rem;
    }

    h2 {
        background-color: $card-col;
    }
  
    p {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $card-col;
    }
  }
  
  .aboutus__icons-container {
    display: flex;
    background-color: $card-col;
  
    li {
      padding-top: 10px;
      padding-right: 30px;
      background-color: $card-col;
    }
  }
  
  .footer__aboutus a {
    text-decoration: none;
    color: $font-col;
    background-color: $card-col;
    &:hover{
      color: $btn;
    }
  }
  
  .footer__aboutus p {
    color: $font-col;
  }
  
  .footer__copyright {
    text-align: center;
    font-size: 80%;
  }
  
  .footer__copy-hidden{
    display: none;
    p {
      text-align: center;
      color: $font-col;
      background-color: $card-col;
    }
    
  }
  
  
  // MEDIAQUERIES
  
  @media screen and (max-width: 1000px) {
    .footer {
      padding: 1rem;
    }
  }
  
  @media screen and (max-width: 802px) {
    .footer {
  
      grid-template-columns: 1fr;
      gap: 30px;
  
    }
  
    .footer__copy-hidden{
      display: block;
      
    }
  
    .linknav__griditem {
    
      p {
        display: none;
      }
    }
  
  
    
    .footer__contact{
      grid-row: 3/4;
    }
    .footer__aboutus{
      grid-row: 2/3;
  
      .aboutus__icons-container{
        justify-content: space-evenly;
  
        .footer__aboutus__icon{
          padding: 0;
        }
  
      }
  
    }
  
  }
  